# An ExifTool config file for the Camera XMP namespace required by Pix4d

%Image::ExifTool::UserDefined = (

    'Image::ExifTool::XMP::Main' => {

        Camera => {
            SubDirectory => {
                TagTable => 'Image::ExifTool::UserDefined::Camera',
            },
        },
    }
);

%Image::ExifTool::UserDefined::Camera = (
    GROUPS        => { 0 => 'XMP', 1 => 'XMP-Camera', 2 => 'Image' },
    NAMESPACE => { 'Camera' => 'http://ns.iunu.com/Camera/1.0/' },
    WRITABLE      => 'string',
    Yaw => { Writable => 'rational' },
    Pitch => { Writable => 'rational' },
    Roll => { Writable => 'rational' },
    IMUPitchAccuracy => { Writable => 'rational' },
    IMURollAccuracy => { Writable => 'rational' },
    IMUYawAccuracy => { Writable => 'rational' }
);

1;  #end
