[Unit]
Description=High-performance, schema-free document-oriented database
After=network.target

[Service]
User=root
ExecStart=/usr/bin/mongod --quiet --smallfiles --journal
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
